.redes-sociales {
    display: $mainflex;
    justify-content: $mainalign;
    padding: 0 10px 0 10px;
    margin-left: 20px;
    margin-bottom: 40px;
    cursor: pointer;
    transition: opacity 300ms;
    &:hover{ opacity: 0.4;}
}
 
.redes-sociales img {
    width: 40%;
    @extend .redes-sociales
}

.video_cover {
    margin:20px;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align:$mainalign
}

.video_cover2{
    margin: auto;
    padding: 30px;
    @extend .video_cover
}