#carousel-uno{
    width: 50%;
    height: auto;
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    position: static;
    z-index: 1;
}


#btn{
    background-color: gray;
    color: white;
    margin: 20px;
    transition: opacity 300ms;
    &:hover{ opacity: 0.4;}
}

#btn-error{
    padding: 15px;
    margin-right: 20px;
    margin-left: 20px;
    background-color: $maincolortex;
    color: red;
    transition: opacity 300ms;
    &:hover{ opacity: 0.4;}
}